$text-color: #20b863;
$black-color: #000;
$color-dark: #024720;
$color-light: #b0f6ce;
$header-background-color: #8b4513;
$main-background-color: bisque;
$footer-background-color: #a0522d;
$border-color: #d2691e;

$header-border-radius: 0 0 20px 20px;
$footer-border-radius: 20px 20px 0 0;

$header-height: 70px;
$footer-height: 80px;
