@import '../../../../styles/common.scss';

:host {
  display: flex;
  flex-direction: column;
  color: $text-color;
  min-height: 100vh;
  background-color: $main-background-color;
  justify-content: space-between;
  text-align: center;
}

.header {
  background-color: $header-background-color;
  border: 2px solid $border-color;
  border-radius: $header-border-radius;
  height: $header-height;
}

.main {
  background-color: $main-background-color;
}

.footer {
  background-color: $footer-background-color;
  border: 2px solid $border-color;
  border-radius: $footer-border-radius;
  height: $footer-height;
}

.header,
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
}
